.actorDetails
  width 360px
  height 515px
  .arrow
    top 236px
   
  .organizationType
    display inline
  
  select
    width 140px
  
  /* optional input field next to the select */
  select + .additionalInfo:not(.hidden)
    display inline
    input
      display inline
      margin 0 0 0 5px
      padding 1px 3px
  