.actorDetails
  width 360px
  .show
    color black
    .corruptionText
      margin-bottom 10px
      text-align justify
    .showType
      margin-top 15px
      margin-bottom 10px
  .pictogram
    background-size cover
    width 25px
    height 25px
    display inline-block
    vertical-align middle
    margin-left 5px
    margin-right 2px
    margin-bottom: 3px;
  .organizationType
    display inline
  h3
    color hsl(0, 0%, 20%)
    margin 0 0 5px
  select
    width 140px
  
  /* optional input field next to the select */
  select + .additionalInfo:not(.hidden)
    display inline
    input
      display inline
      margin 0 0 0 5px
      padding 1px 3px