#actorEditor,
#actorPresentation
  top 0
  left 0
  right 0
  bottom 0
  position absolute
  background #2C57A7 url(/images/bluegrid.svg) center top
  background-size 10px
  overflow hidden
  cursor url(/images/openhand_8_8.cur) 8 8, default
  &:active
    cursor url(/images/closedhand_8_8.bmp) 8 8, move
  &:active.dragcursor
    cursor col-resize
  &.zoom200
    background-size 200px
  &.zoom175
    background-size 175px
  &.zoom150
    background-size 150px
  &.zoom125
    background-size 125px
  &.zoom75
    background-size 75px
  &.zoom50
    background-size 50px
  &.zoom25
    background-size 25px
  &.connectionMode
    .actor
      cursor default
  .centerLine
    top 0
    left 50%
    width 0
    bottom 0
    border-left 2px dotted rgba(0,0,0,.13)
    border-right 1px solid rgba(255,255,255,.08)
    position fixed

.topBar
  position absolute
  top 0
  right 0
  left 0
  z-index 4
    
.sidebar  
  position absolute
  left 34px
  top 51px
  bottom 0
  .inner
    height 100%
    box(center, center, vertical)
    
.workspace
  position absolute
  top 0
  left 0
  transform translate3d(50%,78px,0)
  backface-visibility hidden
  &.hide-money
    .money
      display none
  &.hide-accountability
    .accountability
      display none
  &.hide-monitoring
    .monitoring
      display none
  .connection
    position absolute

.gridline
  position fixed
  display none
  background rgba(255,255,255,.55)
.gridline#gridlineV
  width 1px
  top 0
  bottom 0
.gridline#gridlineH
  margin-top 75px
  height 1px
  left 0
  right 0
