.actor
  width 120px
  height 40px
  position absolute
  display table
  table-layout fixed
  padding 0 5px
  margin -20px 0 0 -60px
  color black
  font-size 14px
  border-radius 3px
  background linear-gradient(top, #f5f5f5, #fbfbfb)
  z-index 2
  cursor url(/images/openhand_8_8.cur) 8 8, default
  box-shadow 0 1px 5px 1px rgba(0,0,0,.34), 0 1px #fff inset, 0 -3px #f0f0f0 inset, 0 0 0 3px #f9f9f9 inset
  svg
    display none
  &.selected
    box-shadow 0 0 0 5px hsl(205,100%,55%), 0 1px 5px 1px rgba(0,0,0,.55), 0 1px #fbfbfb inset, 0 -5px #f0f0f0 inset, 0 0 0 5px #f9f9f9 inset
  &:active
    cursor url(/images/closedhand_8_8.bmp) 8 8, move
  &.disappear
    opacity 0
    transform scale(0.5) translateY(10px)
    transition 250ms
  .name
    display table-cell
    text-align center
    vertical-align middle
    line-height 1
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
