#actorEditor,
.workspace
  top 0
  left 0
  right 0
  bottom 0
  position absolute
#actorEditor
  display box
  box-align center

  canvas, svg
    margin -1px 0 0 -1px
    position absolute

.controls
  background linear-gradient(top, #ececec, #f7f7f7)
  border-top-right-radius 58px
  border-bottom-right-radius 58px
  border 5px solid #f5f5f5
  border-bottom-color #ebebeb
  border-left none
  box-shadow 0 1px 13px rgba(0,0,0,0.55), 0 0 3px rgba(0,0,0,.21) inset
  z-index 3
  position relative
  .actor.new
    margin 8px
    width 80px
    height 80px
    font-size 13px
    position relative !important
    box-shadow 0 1px 1px 1px rgba(0,0,0,.34), 0 1px #fbfbfb inset, 0 -2px #f0f0f0 inset, 0 0 0 2px #f9f9f9 inset
    transition width 250ms, height 250ms, margin 250ms
    cursor move
  .cancel
    position absolute
    top 8px
    left 8px
    width 80px
    height 80px
    text-align center
    color rgba(0,0,0,.34)
    text-shadow 0 1px rgba(255,255,255,.13)
    font-size 13px
    border-radius 100%
    display box
    box-align center
    background rgba(0,0,0,.08)
    box-shadow 0 0 2px 1px rgba(0,0,0,.13) inset