#actorEditor
  top 0
  left 0
  right 0
  bottom 0
  position absolute
  background #2e5aaa
  background url(/images/bluegrid.png) center top
  background-size 99px
  &.zoom200
    background-size 200px
  &.zoom175
    background-size 175px
  &.zoom150
    background-size 150px
  &.zoom125
    background-size 125px
  &.zoom75
    background-size 75px
  &.zoom50
    background-size 50px
  &.zoom25
    background-size 25px
  &.connectionMode
    .actor
      cursor default
    
.workspace
  position absolute
  width 100%
  height 100%
  overflow auto
  &.hide-money
    .money
      display none
  &.hide-accountability
    .accountability
      display none
  .connection
    position absolute