.actor
  width 120px
  height 120px
  margin -60px 0 0 -60px
  position absolute
  color black
  font-size 14px
  background linear-gradient(top, #f5f5f5, #fbfbfb)
  border-radius 50%
  box-shadow 0 1px 5px 1px rgba(0,0,0,.55), 0 1px #fbfbfb inset, 0 -5px #f0f0f0 inset, 0 0 0 5px #f9f9f9 inset
  cursor move
  z-index 2
  svg
    border-radius 162px
  .svg-holder
    border-radius 162px
  &.ui-selected
    box-shadow 0 0 0 5px hsl(205,100%,55%), 0 1px 5px 1px rgba(0,0,0,.55), 0 1px #fbfbfb inset, 0 -5px #f0f0f0 inset, 0 0 0 5px #f9f9f9 inset
  .inner
    margin 8px
    padding 0 8px
    width 104px
    height 104px
    border-radius 50%
    position absolute
    background #f9f9f9
  .name
    min-width 50%
    text-align center
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    width 100%
  .abbrev
    min-width 50%
    text-align center
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    width 100%
  input
    width 66%
    font-size 100%
    text-align center
    display none
  &.editingName
    input
      display block
    .abbrev
      display none
    .name
      display none
  &.activeOverlay .overlay
    opacity 1
    transform none
  .overlay
    opacity 0
    transform translateY(13px)
    transition 250ms
    top 144px
    width 200px
    left -42px
    border 1px solid rgba(0,0,0,.21)
    border-radius 5px
    box-shadow 0 1px 5px rgba(0,0,0,.13)
    position absolute
    box-shadow 0 1px 3px rgba(0,0,0,.55)
    z-index 2
    &:before
      content ""
      position absolute
      width 20px
      height 20px
      top -10px
      left 50%
      margin-left -10px
      transform rotate(45deg)
      background white
      border 1px solid rgba(0,0,0,.21)
      z-index -1


.actor-svg
  position absolute

.newActor
  .inner
    width 100%
    height 100%
    margin 0
