.button
  position relative
  display inline-block
  float left
  height 34px
  padding 0 10px
  margin 0 5px 0
  font-size 12px
  line-height 32px
  background #4d86cb
  background linear-gradient(top, hsl(213,55%,55%), hsl(218,55%,51%))
  border 1px solid rgba(0,0,0,.34)
  border-top-color rgba(0,0,0,.21)
  border-bottom-color rgba(0,0,0,.55)
  border-radius 3px
  box-shadow 0 1px rgba(255,255,255,.21) inset, 0 1px rgba(0,0,0,.08)
  &:after
    content ""
    width 100%
    height 100%
    position absolute
    left 0
    top 0
  &.rightAligned
    margin 0 0 0 5px
  &.icon
    width 34px
  &.cog:after
    background url(/images/cog.png) no-repeat center
  &.joined  
    margin 0
    border-radius 0
    &:first-of-type:not(:only-of-type)
      border-radius 3px 0 0 3px
      border-right none
    &:last-of-type
      border-radius 0 3px 3px 0
    &:only-of-type
      border-radius 3px
  &:active,
  &.active
    background rgba(0,0,0,.21)
    border-top-color rgba(0,0,0,.34)
    border-bottom-color rgba(0,0,0,.21)
    box-shadow 0 1px rgba(255,255,255,.21), 0 1px rgba(0,0,0,.08) inset
    &:after
      transform translateY(0.5px)
      opacity 0.8