.contextMenu
  margin-top -5px
  top 100%
  left 100%
  position absolute
  display none
  z-index 3
  &.visible
    display block
  li
    padding-left 21px
    padding-right 21px
    cursor pointer
    white-space nowrap
    border-bottom 1px solid rgba(0,0,0,.13)
    &:last-child
      border-bottom none
    &:hover
      color white
      background black
    &:active
      padding-top 9px
      padding-bottom 7px