.connectionsList
  position absolute
  padding 55px 21px 0
  overflow auto
  height 100%
    
#money-connection-list
  width 100%
  
.moneyList
  td
    width 50px
    vertical-align middle
    text-align center
    input
      padding 0
      height 100%
      display none
      color white
      text-align inherit
      line-height inherit
      background none
      box-shadow none
    &.edit
      span
        display none
      input
        display block
  .source
    text-align left
    width 200px
    input
      200px

#new-connection-container
  table
    margin-top 13px
    input
      display block
    
#new-connection
  margin 13px 0
  font-weight bold
  .plus
    font-size 1.25em
    line-height 0.75
    vertical-align top
    display inline-block
    transition 250ms
  &.cancel
    .plus
      transform rotate(45deg)