.controls
  z-index 3
  position relative
  text-shadow 0 -1px hsl(213,55%,34%)
  background linear-gradient(top, hsl(213,55%,55%), hsl(218,55%,50%))
  border 1px solid hsl(213,55%,28%)
  border-bottom-color hsl(213, 55%, 22%)
  border-radius 3px
  box-shadow 0 0 1px rgba(0,0,0,.34), 0 0 5px rgba(0,0,0,.13)
  cursor default
  .control
    &.active, &:active
      background-color hsl(219,55%,36%)
  .label
    text-shadow none
    color hsl(217,60%,27%)
  input
    border 1px solid hsl(213,55%,38%)
    box-shadow 0 1px hsl(213,10%,80%) inset, 0 1px hsl(213,55%,53%)
    outline none
    border-radius 3px
    &:-moz-placeholder
      color gray
    &:focus
      padding 7px
      border-width 2px
      border-color #222
      box-shadow 0 0 2px hsl(0, 0%, 55%) inset
  &.top
    top 0
    border-top none
    border-top-right-radius 0
    border-top-left-radius 0
    &.right
      right 0
      border-bottom-right-radius 0
    &.left
      left 0
      border-bottom-left-radius 0
    
.controls.vertical
  .control
    &:first-child
      border-radius 2px 2px 0 0
    &:last-child
      border-radius 0 0 2px 2px
    &:only-child
      border-radius 2px