.workspace .connection
  pointer-events none
  transition opacity 180ms
  path
    fill none
  marker
    path
      fill inherit
  use
    cursor pointer
    pointer-events visiblePainted
  marker
    fill none
  &.locked
    use
      cursor not-allowed
      pointer-events visiblePainted
    opacity 0.33
  &.money
    .arrow
      fill rgb(250,223,54)
    .path
      stroke rgb(250,223,54)
  &[data-mode=pledgedMode]
    .arrow
      fill hsl(60,20%,60%)
    .path
      stroke hsl(60,20%,60%)
      stroke-dasharray 5
  &.monitoring
    .arrow
      fill hsl(218,54%,64%)
    .path
      stroke hsl(218,54%,64%)
  &.accountability
    .arrow
      fill hsl(218,54%,31%)
    .path
      stroke hsl(218,54%,31%)
  &.amountUnknown
    svg
      opacity 0.55
  .clickBorder
    stroke transparent
  &.selected
    .selectPath
      stroke hsl(205,100%,55%)
    .selected-arrow
      fill hsl(205,100%,55%)
  .corruptionRisk
    background-image url(/images/risk.png)
    background-size cover
    position absolute
    width 25px
    height 25px
    margin-left -12px 0 0 -12px
    display none

