.countrys
  margin 10px
  transition 250ms
        
  a
    margin 0 21px 0 0
    width 60px
    height 40px
    display block
    font-size 11px
    text-align center
    background-position center
    background-size cover
    border-radius 3px
      
  span
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    display block