.edit-countries
  background #2C57A7 url(/images/bluegrid.svg) center top
  
  h1
    display inline-block
  
  .countrys
    span.delete
      float right
      padding 0 15px
      cursor pointer
      color red
      visibility hidden

    li:hover
      span.delete
        visibility visible

  #add-country
    float right
    margin-top 10px

    input
      visibility hidden
      margin-right 5px

    ul
      list-style none
      position absolute
      padding 0px
      
      li
        padding 5px 5px 5px 35px
        cursor pointer
        background-size 20px
        background-position 5px 8px
        background-repeat no-repeat
        
        &:hover, &.active
          background-color rgba(255, 255, 255, .3)