.home
  display box
  box-align center
  box-pack center
  #home
    margin 34px
  #actor_editor
    opacity 0
    z-index -1
    background #222
    &.bangladesh
      background url(../images/bluegrid.png) center top
    &:target
      opacity 1
      z-index 1
    h1
      margin 0 21px
      font-size 144px
  h1
    margin 0 0 21px
    font-size 144px
    line-height 1
    color rgba(255,255,255,.05)
    font-weight 300

.countrys
  margin 21px 0
  transition 250ms
  a
    margin 0 21px 21px 0
    width 200px
    height 120px
    float left
    display block