.importView
  h1
    text-align center
  .or
    line-height 55px
    font-weight bold
    text-align center
    text-shadow 0 1px 3px rgba(0,0,0,.55)
  .box
    width 340px
    height 100px
    line-height 100px
    font-size 0.8em
    font-weight bold
    color rgba(0,0,0,.55)
    text-align center
    background rgba(0,0,0,.13)
    border 1px solid rgba(0,0,0,.21)
    border-radius 5px
    box-shadow 0 0 3px 1px rgba(0,0,0,.21) inset, 0 1px rgba(255,255,255,.13)
    display box
    box-align center
    box-pack center
    input
      color inherit
      font-size inherit
      font-weight inherit
  #import-form
    height 55px
    line-height 55px
  table
    width 100%
    border-collapse collapse
    background rgba(0,0,0,.13)
    border 1px solid rgba(0,0,0,.21)
    box-shadow 0 0 3px 1px rgba(0,0,0,.21) inset, 0 1px rgba(255,255,255,.13)
    td
      padding 5px 13px   
    th
      padding 8px 13px
      background rgba(0,0,0,.34)
      text-align left
      border-bottom 1px solid rgba(255,255,255,.13)
    tr:nth-child(odd)
      background rgba(0,0,0,.08)
    tr.matchedRow
      background-color #009900
    .state-hover
      opacity 0.5
      cursor move 
    .state-dragged
      padding 5px 21px
      color black
      background #FAFAFA
      border 1px solid #eee
      border-radius 3px
      box-shadow 0 1px 3px rgba(0,0,0,.55), 0 1px white inset
  
#headlines
  display box
  box-pack center
  margin 0 0 18px
  padding 0
  list-style none
  li
    width 100px
    padding 5px 21px
    margin-left 20px
    color black
    background #FAFAFA
    border 1px solid #eee
    border-radius 3px
    box-shadow 0 1px 3px rgba(0,0,0,.55), 0 1px white inset
    cursor move
    &:first-child
      margin-left 0

#matchButton, #confirmButton
  border-radius 4px
  margin-bottom 18px
  float right

#matchButton
  display none

#confirmInfo, #matchInfo, #successInfo, #failureInfo
  text-align center

#successInfo, #failureInfo
  display none

#csv-upload-target.active-file
    background #fff