@font-face
  font-family "HelveticaNeueW01-57Cn"
  src url(/HelveticaNeueW01-57Cn.woff)

#worldMap
  background -webkit-radial-gradient(hsl(65,75%,72%), hsl(104,54%,65%))
  background    -moz-radial-gradient(hsl(65,75%,72%), hsl(104,54%,65%))
  background     -ms-radial-gradient(hsl(65,75%,72%), hsl(104,54%,65%))
  background      -o-radial-gradient(hsl(65,75%,72%), hsl(104,54%,65%))
  background         radial-gradient(hsl(65,75%,72%), hsl(104,54%,65%))
  .inner
    width 960px
    color #5d5d5d
  header 
    height 80px
    position relative
    .map-controls
      float right
      a.visible
        display inline
      a.hidden
        display none
    h1 
      display block
      margin 30px 0
      padding 0 13px 17px
      color #333
      font-size 24px
      font-family "HelveticaNeueW01-57Cn", "Helvetica Neue", Helvetica, Arial, sans-serif
      font-weight normal
      text-shadow none
      text-transform uppercase
      background url(/images/bg-title.png) repeat-x 0 100%
    #link-area
      position absolute
      right 8px
      top -2px
      a
        line-height 27px
        height 27px
        color #698147
        border-color #698147
  a
    color hsl(205,68%,52%)
    text-decoration none 
  .map 
    position relative
    height 422px
    width 956px
    margin-left 2px
    perspective 1000
    .delete-btn
      width 20px
      padding 5px
      display none
      color #fff
      background #ff0000
      position absolute
      top 0px
      right -20px
      cursor pointer
   .edit-mode
    .delete-btn
      display block 
  .map:before 
    content ""
    position absolute
    left 0
    top 0
    right 0
    bottom 0
    background url(/images/greenWorld.png) no-repeat center
    opacity .5
  .point 
    position absolute
    margin -4px 0 0 -4px
    width 8px
    height 8px
    border 1px solid hsl(205,68%,40%)
    background hsl(205,68%,53%)
    box-shadow 0 1px hsl(205,68%,70%) inset, 0 1px 2px hsla(205,100%,13%,.34)
    border-radius 100%
    opacity 0
    transform translateZ(200px)
    transform-style preserve-3d
  .point:hover
    z-index 1
  .point.appear 
    opacity 1
    transform translateZ(0)
    transition transform 500ms, opacity 500ms
  .point.disappear 
    opacity 0
    transform translateZ(0)
    transition transform 500ms, opacity 500ms
  .point.transparent
    opacity 0.35
  .label 
    position absolute
    white-space nowrap
    left -18px
    top -44px
    opacity 0
    transform translateY(-13px)
  .point.appear .label 
    opacity 1
    transform translateY(0)
    transition transform 500ms 500ms, opacity 500ms 500ms
  .point:active .label 
    top -43px
  .below .label 
    top 19px
    transform translateY(13px)
  .point.below:active .label 
    top 20px
  .right .label 
    left auto
    right -18px
  .label a 
    display block
    padding 8px 13px 7px
    color white
    line-height 1
    text-decoration none
    border-radius 3px
    border 1px solid hsl(205,68%,40%)
    background hsl(205,68%,53%)
    box-shadow 0 1px hsl(205,68%,70%) inset, 0 1px 2px hsla(205,100%,13%,.34)
  .arrow 
    position absolute
    bottom -9px
    left 14px
    overflow hidden
    width 16px
    height 10px
  .below .arrow 
    bottom auto
    top -8px
    height 10px
  .right .arrow 
    left auto
    right 14px    
  .arrow:before 
    content ""
    position absolute
    left 2px
    top -6px
    width 10px
    height 10px
    transform rotate(45deg)
    border 1px solid hsl(205,68%,40%)
    background hsl(205,68%,53%)
    box-shadow 0 1px 2px hsla(205,100%,13%,.34)
  .below .arrow:before 
    top 4px 
  footer 
    margin-top 21px
    padding 13px
    font-size 13px
    border-top 1px solid rgba(0,0,0,.21)
    overflow hidden
    box-shadow 0 1px hsla(104,100%,86%,.55) inset
    .left 
      float left
    .right 
      float right
    