.column
  float left
  display inline
  margin-left 10px
  margin-right 10px

.index
  padding 15px


  ul.countrys
    @extends .column
    width 250px
    
    li
      width auto
      cursor pointer

  .description
    width 600px
    @extends .column

    p
      margin-top 0