#lightbox
  width 100%
  height 100%
  padding 20px
  position absolute
  left 0
  top 0
  overflow auto
  z-index 4
  background-color #000
  h1
    color #fff    
  textarea
    font-size 13px
    min-height 80px
    max-height 300px
#metadataClose
  float right
  margin 0 30px 0 0
  cursor pointer
  width 5px
  font-size 30px
.action-saved
  .saved
    opacity 1
    transition opacity 1s
.saved
  opacity 0
  transition opacity 1s