.list
  margin 0
  padding 0
  list-style none
  background linear-gradient(top, #eee, #ddd)
  border-radius 5px
  box-shadow 0 1px 5px rgba(0,0,0,.13)
  li
    padding 8px 13px
    display block
    font-size 0.85em
    color black
    background white
    &:first-child
      border-radius 5px 5px 0 0
    &:last-child
      border-radius 0 0 5px 5px