.login
  &.controls
    width 300px
    padding 21px
    overflow hidden
    position relative
  h1 span
    display block
    line-height 1.21
  form
    input
      padding 8px
      margin-bottom 5px
      width 100%
      display block
    [type=submit]
      margin-top 5px
      float right