.standardForm
  padding 20px 30px
  font 16px/27px "Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif
  color #222
  background #eee
  
  h1 
    margin 0 0 21px
    color #222
    font-size 34px
    line-height 1
    font-weight normal
    letter-spacing -0.05em
  
  select, input 
    margin 0
    padding 3px
    vertical-align middle

  input[type=checkbox] 
    margin 5px

  p
    width 33%
    float left

  .content > div 
    margin 21px 0

  select 
    color #333

  input[type=text] 
    border-radius 3px
    border 1px solid rgba(0,0,0,.34)
    box-shadow 0 1px rgba(0,0,0,.05) inset, 0 1px white

  label 
    margin 13px 0 0
    padding 0 0 5px 0
    font-size 15px
    line-height 150%
    color #222
    display block

  input[type=checkbox] + label 
    margin 0
    padding 0
    font-size 13px
    color black
    display inline
    
  .hint 
    margin -3px 0 5px
    font-size 75%
    line-height 1.5
    color gray
    display block

  .hidden 
    display none

  .clearfix:before,
  .clearfix:after 
    content ""
    display table

  .clearfix:after 
    clear both

    