.modal
  position absolute
  left 0
  top 0
  z-index 6
  background #eee
  border-radius 5px
  box-shadow 0 0 0 1px white inset, 0 0 0 1px rgba(0,0,0,.34), 0 1px 5px rgba(0,0,0,.34)
  transition transform 120ms, opacity 120ms
  /* 
    the modal gets hidden in order to measure
    its height and scrollbar-thickness
    therefor we can't use display none
    because then the dimensions would be zero
    
    instead we hide it with opacity 0 (its only for a millisecond)
  */
  &.hidden
    display block
    opacity 0
    transform translateX(10px) scale(0.9)
  &.leftAligned
    &.hidden
      transform translateX(-10px) scale(0.9)
    .arrow
      left auto
      right -41px
      width 42px
      &:after
        right auto
        left -15px
  .arrow
    width 50px
    left -49px
    height 42px
    position absolute
    overflow hidden
    &:after
      content ""
      top 6px
      right -15px
      position absolute
      width 30px
      height 30px
      background #eee
      box-shadow 0 0 0 1px white inset, 0 0 0 1px rgba(0,0,0,.34), 0 1px 5px rgba(0,0,0,.34)
      transform rotate(45deg)
  &.moved .arrow
    display none
  
  textarea
    min-height 80px
    max-height 300px
  
  .holder
    overflow auto
    padding 13px 8px 8px
    > div
      padding 5px 8px
    > div:not(:last-child)  
      border-bottom 1px solid #ddd
      box-shadow 0 1px hsl(0,0%,97%)
  
  .two-column
    margin-bottom 3px
    .column
      width 48%
      &:first-child
        float left
      &:last-child
        float right
  
  input 
    margin 0
    padding 4px 5px 3px
    
  input[type=radio]
    cursor default

  input[type=checkbox] 
    margin 3px

  select
    font-size auto
    color #333
    display inline
    
  input[type=text], textarea
    margin-bottom 5px

  input[type=text],
  textarea
    font-size 13px
    width 100%
    display block
    border-radius 3px
    border 1px solid rgba(0,0,0,.34)
    box-shadow 0 1px rgba(0,0,0,.05) inset, 0 1px white
    &.noRightBorderRadius
      border-radius 3px 0 0 3px
    &.hidden
      display none
    &.big
      font-size 21px
    &.small
      width 133px

  label 
    margin-right 5px
    font-size 15px
    line-height 1.75
    color #333
    display inline-block

  input[type=checkbox] + label 
    padding 0
    font-size 13px
    color black
    display inline
    
  .inlay
    padding 7px 13px 11px
    background hsl(0, 0%, 91%)
    border 1px solid hsl(0, 0%, 75%)
    border-top-color hsl(0, 0%, 65%)
    border-radius 5px
    box-shadow 0 1px rgba(0,0,0,.13) inset, 0 2px rgba(0,0,0,.05) inset
  
  .controls
    background linear-gradient(top, hsl(205,8%,75%), hsl(205,3%,50%))
    border-radius 0 0 3.5px 3.5px
    border none
    border-top 1px solid hsl(205,5%,55%)
    box-shadow 0 1px hsl(205,5%,90%) inset, 0 -1px rgba(0,0,0,.05), 0 -2px rgba(0,0,0,.03)
    cursor move
    .row
      margin 10px 7px 8px
      button  
        margin 0 3px
        width 65px
      &.right
        float right
        button
          float right
      &.left
        float left