.navigation.controls
  position absolute
  background none
  border none
  box-shadow none
  z-index 5
  padding 7px
  a
    color white
  .flag
    margin-top 5px
    margin-right 3px
    display inline-block
    width 30px
    height 22px
    vertical-align top
    background-size cover
    border-radius 2px
    border 1px solid hsl(217,60%,27%)
    box-shadow 0 1px rgba(255,255,255,.13) inset, 0 1px 1px hsl(217,60%,47%)