.tool.controls.topBar .settings,
.sidebar,
.roleBackgrounds,
.button[href="/"]
  display none

#actorPresentation,
#actorEditor,
html
  background white
  .topBar time
    display block

.tool.controls.topBar
  display block
  background none
  border none
  box-shadow none
  padding 0 17px
  line-height 51px
  color #ABABAB
  font-size 21px
  font-family "HelveticaNeueW01-57Cn", sans-serif
  text-align right
  text-shadow none

.location.button,
.location.button:active,
.location.button.active
  font-size 21px
  font-family "HelveticaNeueW01-57Cn", sans-serif
  text-transform uppercase
  color black
  text-shadow none
  box-shadow none
  border none
  background none
  .flag
    display none


.actor .animationHolder,
.actor-group .actor-style,
.actor-group, 
.actor-group .border,
.actor-group-actor
  color black
  background white
  box-shadow none !important

.actor .type, 
.actor-holder .type
  color #ABABAB

.actor-group .caption
  .text
    right 0
  .dropdown-control
    display none

.actor-group .actors
  border-top-color black
.actor-group-actor
  border-bottom none
  border-left none
  border-right none
  margin 0 3px
  background none

.legend.controls
  padding 13px 17px
  color black
  text-shadow none
  background white
  border-top 1px solid #ABABAB
  border-left 1px solid #ABABAB
  box-shadow none
  .label
    line-height 34px
    color black
    margin-right 0
    .preview
      box-shadow none
  .row
    height 34px
    border none
    box-shadow none
  .state
    display none
