fundingColor = hsl(41, 100%, 64%)
coordinationColor = hsl(35, 20%, 50%)
implementationColor = hsl(88, 43%, 64%)
monitoringColor = hsl(212, 45%, 76%)

.fundingBackground
  background fundingColor
.coordinationBackground
  background coordinationColor
.implementationBackground
  background implementationColor
.monitoringBackground
  background monitoringColor

.roles
  margin-top 10px
  & > div
    width 8px
    height 8px
    border-radius 4px
    margin-right 2px
    float left
svg   
  .funding
    background fundingColor
    fill fundingColor
    stroke fundingColor 
  .coordination
    background coordinationColor
    fill coordinationColor
    stroke coordinationColor
  .implementation
    background implementationColor
    fill implementationColor
    stroke implementationColor
  .monitoring
    background monitoringColor
    fill monitoringColor
    stroke monitoringColor
  .stuff
    background gray
    fill gray
    stroke gray

.actor, .actor-group
  &[data-role='funding'] 
    .animationHolder:after, 
    .actor-style:after
      border-color fundingColor
  &[data-role='funding and coordination']
    .animationHolder,
    .actor-style
      &:before
        border-color fundingColor
      &:after
        border-color coordinationColor
  &[data-role='coordination'] 
    .animationHolder:after, 
    .actor-style:after
      border-color coordinationColor
  &[data-role='coordination and implementation']
    .animationHolder,
    .actor-style
      &:before
        border-color coordinationColor
      &:after
        border-color implementationColor
  &[data-role='implementation'] 
    .animationHolder:after, 
    .actor-style:after
      border-color implementationColor
  &[data-role='implementation and monitoring']
    .animationHolder,
    .actor-style
      &:before
        border-color implementationColor
      &:after
        border-color monitoringColor
  &[data-role='monitoring'] 
    .animationHolder:after, 
    .actor-style:after
      border-color monitoringColor