.funding
  background #ffc345
.coordination
  background #a5bfdd
.accreditation
  background #ffe564
.approval
  background #e8ddbd
.implementation
  background #c9dfaf
.monitoring
  background #d3cabd