.roles
  margin-top 10px
  & > div
    width 8px
    height 8px
    border-radius 4px
    margin-right 2px
    float left
svg   
  .funding
    background #ffc345
    fill #ffc345
    stroke #ffc345 
  .coordination
    background #a5bfdd
    fill #a5bfdd
    stroke #a5bfdd
  .accreditation
    background #ffe564
    fill #ffe564
    stroke #ffe564
  .approval
    background #e8ddbd
    fill #e8ddbd
    stroke #e8ddbd
  .implementation
    background #c9dfaf
    fill #c9dfaf
    stroke #c9dfaf
  .monitoring
    background #d3cabd
    fill #d3cabd
    stroke #d3cabd
  .stuff
    background gray
    fill gray
    stroke gray