.roleBackgrounds
  height 100%

.dragHandleBars,   
.roleHolder
  height 100%
  position absolute
.dragHandleBars
  z-index 4
  height 28px
  margin-top 50px
  .draghandle
    width 46px
    height 28px
    margin 0 0 0 -23px
    z-index 5
    cursor col-resize
    position absolute
    background black
    opacity 0
    &:hover, &:active
      cursor col-resize
      opacity 0.1
.roleHolder
  .roleArea
    width 25%
    min-width 46px
    height 100%
    position absolute
    &#funding
      background hsla(76, 100%, 50%, 0.28)
    &#coordination
      background hsla(97, 100%, 50%, 0.19)
      left 25%
    &#implementation
      background hsla(155, 100%, 43%, 0.13)
      left 50%
    &#monitoring
      background hsla(222, 100%, 43%, 0.18)
      left 75%
.roleLabels 
  position absolute
  z-index 3
  top 50px
  width 100%
  height 29px
  border-bottom 1px solid hsl(220, 55%, 24%)
  .bar
    position fixed
    left -100%
    width 300%
    background hsl(220, 53%, 32%)
    height 29px
    border-bottom 1px solid hsl(220, 55%, 24%)
  .rolelabel  
    position absolute
    width 25%
    min-width 46px
    height 29px
    padding 0 8px
    text-align center
    font-size 12px
    line-height 29px
    text-overflow ellipsis
    color hsl(220, 37%, 90%)
    text-shadow 0 -1px hsl(220, 38%, 15%)
    border 1px solid hsl(220, 55%, 24%)
    border-bottom none
    box-shadow 1px 0 hsl(220, 43%, 43%) inset
    &:not(.first)
      border-left none
    &.last
      box-shadow 1px 0 hsl(220, 43%, 43%) inset, 1px 0 hsl(220, 43%, 43%)