.settings
  position absolute
  right 0
  top 0
  z-index 5
  padding 7px
  cursor pointer
  .modal
    left auto
    right 7px
    top 41px
    padding 8px 13px
    text-shadow none
    display none
    white-space nowrap
    .table
      display table
      .row
        display table-row
        & > *
          display table-cell
      label
        text-align right
        padding-right 8px
        line-height 2
  &.active
    z-index auto
    .button
      z-index 5
    .modal
      z-index 11
      display block