.tool.controls
  position absolute
  left 0
  right 0
  z-index 5
  .inner
    box(center, center, horizontal)
  .newActor  
    height 50px
    border-right 1px solid hsl(213,55%,28%)
    box-shadow 1px 0 hsl(213,55%,60%)
    cursor pointer
    position relative
    &.slideUp
      .actor.new
        margin-top -18px
    &.slideIn
      .actor.new
        margin-top 130px
        transition width 500ms, height 500ms, margin 500ms
        .name
          opacity 1
          transition 500ms
    &.curtainDown .actor.new 
      transition none
    .description
      height 33px
      padding-top 9px
      background linear-gradient(top, hsl(213,55%,55%), hsl(218,55%,52%))
      position relative
      z-index 3
      &:after, 
      &:before
        content ""
        position absolute
        bottom 0
        left 5px
        right 5px
        height 1px
        box-shadow 0 1px #20436F, 0 2px rgba(0, 0, 0, 0.34), 0 3px rgba(0, 0, 0, 0.13), 0 4px rgba(0, 0, 0, 0.05)
      /* 
        draws a background behind with blue, dark blue, blue 
        behind the top border of the actor box to not show a 
        transparent line next to the border left and right
        when the actor slides down
      */
      &:before
        left 0
        right 0
        bottom -1px
        background linear-gradient(left, hsl(218,55%,52%) 4px, #20436F 4px, #20436F 96px, hsl(218,55%,52%) 96px)
        box-shadow none
    .plus
      font-size 16px
      font-weight bold
      vertical-align middle
      margin-right 5px
      margin-top -1px
      display inline-block
    .dock
      position absolute
      top -31px
      left 4px
      right 4px
      border-top 1px solid hsl(213,55%,28%)
      &:before
        content ""
        height 9px
        right 0
        top 64px
        left 0
        position absolute
        background linear-gradient(top, rgba(0,0,0,.21), rgba(255,255,255,.05))
        border 1px solid hsl(213,55%,28%)
        border-bottom-color hsl(213,55%,25%)
        border-top none
    .actor.new
      margin 55px 2px 0
      width 88px
      height 30px
      border-radius 2px
      text-shadow none
      position relative
      transition width 250ms, height 250ms, margin 250ms
      cursor move
      .name
        opacity 0
        transition none
    .cancel
      position absolute
      top 0
      left 0
      width 64px
      height 64px
      box-sizing content-box
      padding 8px
      display table
      color rgba(0,0,0,.34)
      text-shadow 0 1px rgba(255,255,255,.13)
      font-size 13px
      border-radius 100%
      background rgba(0,0,0,.08)
      box-shadow 0 0 2px 1px rgba(0,0,0,.13) inset
      display none
      span
        display table-cell
        vertical-align middle
        text-align center        
  .description
    width 100px
    height 50px
    padding 11px 13px 0
    font-size 13px
    img
      margin-top 4px
      display block
    .name
      font-size 11px
      text-align center
      display block
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
  .connection
    vertical-align top
    cursor pointer
    border-right 1px solid hsl(213,55%,28%)
    box-shadow 1px 0 hsl(213,55%,60%)
    &.money
      border-right none
      box-shadow none
    &.active, &:active
      .description
        position relative
        top 1px
    &:last-child
      border-right none
      box-shadow none
      border-radius 0 0 3px 0
    .eye
      float left
      width 34px
      height 50px
      background url(/images/glyphicons_051_eye_open.png) no-repeat center center
      background-size 16px
      border-right 1px solid hsl(213,55%,40%)
      box-shadow 1px 0 hsl(213,55%,60%)
      display none
    &.invisible .eye
      background none
  .toggle
    padding 6px 13px
    .name
      font-size 11px
      text-align center
      display block
    .small
      padding 4px
      font-size 9px
      &:active, &.active
        background-color hsl(219,55%,36%)
      cursor pointer