.browserSupport
  display none
  position fixed 
  z-index 10 
  background #eee
  color black
  border-radius 5px
  box-shadow 0 0 0 1px #fff inset, 0 0 0 1px rgba(0,0,0,0.34), 0 1px 5px rgba(0,0,0,0.34) 
  top 50% 
  left 50% 
  width 400px 
  height 300px 
  margin-top -150px 
  margin-left -200px
  padding 30px
  div
    margin-top 40px
    text-align center
    a
      background #333
      border-radius 3px
      margin-right 30px
      padding 5px