#user
  padding 10px 13px
  position absolute
  width 100%
  text-align right
  background hsl(218,55%,34%)
  z-index 3
  box-shadow 0 -1px rgba(0,0,0,.13) inset, 0 -2px rgba(0,0,0,.05) inset, 0 1px rgba(255,255,255,.13)
  overflow hidden
  #username-input, .username
    margin-right 8px