.view.controls
  background linear-gradient(top, hsl(213,55%,50%), hsl(218,55%,48%))
  box-shadow 0 0 1px rgba(0,0,0,.34), 0 0 5px rgba(0,0,0,.13), 0 1px hsl(215,73%,66%) inset
  &:not(:last-child)
    margin-bottom 13px
  /* hide the zoom on touch-devices */
  .zoom.hidden
    display block
    width 0
    height 0
    overflow hidden
    opacity 0
  .range
    height 144px
    .ui-slider-vertical
      height 100%
      width 40px
      background none
      border none
      &:before
        content ""
        position absolute
        left 10px
        top 50%
        margin-top -1px
        height 1px
        width 20px
        background rgba(0,0,0,.21)
        box-shadow 0 1px rgba(255,255,255,.21)
      &:after
        content ""
        position absolute
        width 3px
        left 19px
        height 100%
        background white
        border-radius 3px
        box-shadow 0 1px 3px black
      .ui-slider-handle
        left 6px
        height 10px
        margin-bottom -5px
        width 28px
        background white
        border-radius 2px
        border none
        box-shadow 0 1px 3px black
        outline none
  .icon
    width 41px
    height 41px
    background-position center
    background-repeat no-repeat
    cursor pointer
    position relative
    &.fit
      background-image url(../images/fit_screen.png)
    &.in
      background-image url(../images/zoom_in.png)
    &.out
      background-image url(../images/zoom_out.png)
    &.point
      width 43px
      height 43px
      .corner
        position absolute
        right 2px
        bottom 2px
        width 10px
        height 10px
        overflow hidden
        &:after
          content ""
          position absolute
          width 20px
          height 20px
          left 2px
          top 2px
          background hsl(217,55%,24%)
          transform rotate(45deg)
  &.moneyMode
    position relative
    font-size 12px
    label
      display block
      position relative
      padding 0 10px 0 30px
    input
      display none
    input:checked + label
      color white
    .option
      position relative
      height 40px
      line-height 40px
      cursor pointer
      &:not(:last-child)
        border-bottom 1px solid hsl(213, 55%, 22%)
        box-shadow 0 1px hsl(215,73%,66%)
      .coin
        position absolute
        left 10px
        top 13px
        width 13px
        height 13px
        padding 1px
        background rgba(0,0,0,.08)
        border-radius 13px
        box-shadow 0 0 0 1px rgba(0,0,0,.21), 0 1px 1px rgba(0,0,0,.08) inset
        &:after
          content ""
          display block
          width 100%
          height 100%
          border-radius 100%
      input:checked ~ .coin
        background hsl(50,100%,50%)
        box-shadow 0 1px hsl(50,100%,90%) inset, 0 1px 2px black
        &:after
          background hsl(50,100%,45%)
          box-shadow 0 1px 1px hsl(50,100%,40%) inset, 0 1px hsl(50,100%,85%)
