.controls
  left 0
  top 50%
  margin-top -200px
  height 400px
  width 50px
  position fixed
  padding 102px 8px 0
  background #eee
  border-bottom-right-radius 21px
  .newActor
    top 0
    left 0
    padding 8px
    background #eee
    border-radius 100%
    position absolute
  .actor
    margin 0
    width 80px
    height 80px
    font-size 11px
    position static
  