// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http//visionmedia.github.com/nib/
@import 'nib'

// Apply a natural box layout model to all elements.
// http//paulirish.com/2012/box-sizing-border-box-ftw/
*
  box-sizing border-box

html
  font 16px/27px "Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif
  color #222
  background url(../images/bluegrid.png) center top
  
body
  margin 0 21px

.actor
  width 160px
  height 160px
  position absolute
  line-height 160px
  text-align center
  text-transform uppercase
  color white
  background black
  border 3px solid #222
  border-radius 166px
  cursor default
  .selected,
  .selected .connector:not(.selected):after
    border-color hsl(195,100%,30%)
  

.connectors
  top 0
  width 100%
  height 100%
  position absolute
  opacity 0

.actor:hover .connectors,
.actor.selected .connectors
  opacity 1
 
.connector
  top 0
  left 50%
  width 40px
  height 40px
  margin -20px 0 0 -20px
  position absolute
  &:after
    content ""
    width 20px
    height 20px
    margin 10px
    background black
    border 2px solid #222
    border-radius 20px
    box-sizing border-box
    display block
  &.right,
  &.left
    margin -20px -20px 0 0
    top 50%
    left auto
    right 0
  &.bottom
    top auto
    bottom 0
    margin 0 0 -20px -20px
  &.left
    right auto
    left 0
    margin -20px 0 0 -20px