// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http//visionmedia.github.com/nib/
@import 'nib'
@import '_shim'
@import '_form'
@import '_list'
@import '_home'
@import '_countrySelection'
@import '_actor'
@import '_connection'
@import '_contextMenu'
@import '_actorEditor'
@import '_importView'
@import '_roles'
@import '_lightbox'
@import '_metadataForm'
@import '_tables'
@import '_user'

// Apply a natural box layout model to all elements.
// http//paulirish.com/2012/box-sizing-border-box-ftw/
*
  box-sizing border-box

html
  height 100%
  font 15px/27px Arial, sans-serif
  color white
  user-select none
  
body
  height 100%
  overflow hidden
  
#container
  padding 21px
  height 100%
  background url(/images/bluegrid.png) center top
  box-sizing border-box
  display box
  box-align center
  box-pack center
  box-orient vertical

a
  color #fff

a:hover
  color #ccc
  
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

h1
  margin 0 0 34px
  font-size 34px
  line-height 1
  text-shadow 0 1px 5px rgba(0,0,0,.55)
    
.breadcrumb
  margin 21px
  span
    margin 0 5px
    vertical-align text-bottom
  a, span
    color rgba(255,255,255,.34)
    text-decoration none
    &.selected
      color white

.clear
  clear both
