if(process.env['NODE_ENV'] && process.env['NODE_ENV'] === 'production')
  exports.config = {
    adminName: "",
    adminPassword: "",
    databaseHost: "127.0.0.1",
    databasePort: "5984",
    salt: "keyboardcat",
    sessionSecret: "anotherkeyboardcat"
  };
else
  exports.config = {
    adminName: "",
    adminPassword: "",
    databaseHost: "127.0.0.1",
    databasePort: "5984",
    salt: "keyboardcat",
    sessionSecret: "anotherkeyboardcat"
  };